.order-text{
    margin: 20px 0;
    font-size: 14px;
}
// .payment-content{
//     background-image: url("../../assets/img/transaction.png");
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center;
// }

.payment-success-img{
    position: absolute;
    height: calc(100% + 80px);
    // width: auto;
    right: 0;
    z-index: 0;
    opacity: 0.15;
    top: -40px;
}
@media screen and (max-width:767px){
    .payment-success-img{
        width: 100%;
        height: auto;
        top: 0;
    }
}
.payment-content{
    z-index: 99;
    position: relative;
}