nav.custom-navbar {
  justify-content: center !important;
  background-color: #fff !important;
  .header-text {
    font-size: 36px;
    padding: 0;
    color: #000;
  }
}
.ana-header {
  color: #0377ff;
}
.jal-header {
  color: #ff2c2c;
}

.anajal-top-border {
  height: 18px;
  width: 100%;
  background-color: #000;
}
.nav-bar-wrapper {
  background-color: rgba(27, 20, 60, 0.844);
  display: flex;
}

.logo-nav-wrapper {
  display: flex;
}

.nav-bar-wrapper .logo img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.top-info-inner p {
  font-family: ProN !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #fff;
  font-size: 0.7rem;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.top-info-inner {
  display: flex;
}
.info {
  flex: 1;
}
.logout p {
  font-size: 1rem;
}
.logo-top-info {
  margin-top: 5px;
}
.left-container {
  flex: 1;
}

.container-wrapper {
  display: flex;
  flex-direction: row;
}

.right-info ul {
  color: white;
  margin-block-end: 0 !important;
}

.right-info ul li {
  display: inline;
  margin-left: 0;
  padding-bottom: 5px;
  border-bottom: none;
  cursor: pointer;
  position: relative;
}

.left-info {
  flex: 0.5;
}
.right-info {
  align-self: center;
  flex: 1;
}
.action-button {
  color: #fff;
  background-color: #f7931e;
  padding: 10px 20px;
  float: right;
  border-bottom: 5px solid #f15a24;
  cursor: pointer;
}
.top-buttons {
  align-items: center;
  justify-content: center;
  color: #fff;
}
.button-one {
  margin-right: 2.5px;
}
.button-two {
  margin-left: 2.5px;
}
.action-btn {
  margin-bottom: 10px;
  flex: 1;
  padding: 10px;
  background-color: #29abe2;
  cursor: pointer;
}
.anajal-drawer {
  display: none;
}
.menu-open {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .right-info {
    display: none;
  }
  .top-buttons-d {
    display: flex;
    margin: 0px 10px;
    color: #fff;
  }
  .action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .action-button {
    display: none;
  }
  .left-info {
    flex: 1;
  }

  .anajal-drawer {
    z-index: 101;
    top: 0;
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    display: block;
    transition: all ease-in 0.5s;
    height: 0vh;
  }
  .menu-open {
    display: flex;
    align-self: center;
    margin-bottom: 6px;
  }
  .action-button-m {
    color: #fff;
    background-color: #f7931e;
    padding: 10px 10px;

    border-bottom: 3px solid #f15a24;
    margin: 10px;
  }

  .drawer-close {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .anajal-menu-item {
    flex: 1;
  }
  .anajal-menu-wrapper {
    padding: 10px;
  }

  .logo-top-info {
    display: none;
  }

  .nav-bar-wrapper .logo img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: 28px;
  }

  .r-wrapper {
    justify-content: space-between;
  }
}
.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  // margin-left: 5px;
  // margin-right: 5px;
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009ffd;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06d6a0;
}
.router-anchor {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 200px;
  transform: translate(-50%, -50%);
  min-width: 100px;
  text-align: center;
}
